*{
    padding: 0;
    margin: 0;
}
body {
    font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #000000; /* Цвет фона */
    color: #ffe; /* Цвет текста */
}
#main{
    border-left: green 4px;
}
#container {
    width: 100%; /* Ширина макета */
    height: 1080px;
    margin: 0 auto; /* Выравниваем по центру */
    background: #000000; /* Цвет колонок */
}
#header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #000000; /* Цвет фона шапки */
    padding-bottom: 50px;
}

#nav, #aside {
    float: left; width: 110px; padding: 5px; height: 1080px; font-size: large;
}
#content {
    background: #171717;
    margin: 0 120px; /* Ширина колонок */
    padding: 10px;
    height: 1000px;
    text-align: left;
    font-size: large;
}
span{
    font-size: large;
    padding-bottom: 20px;
}
.image{
    padding-top: 15px;
    border-top: 4px solid green;
}
#aside {
    float: right; color: #000; font-size: large;
}
h2 { margin: 0 0 1em; }

img{
    width: 185px;
    height: 170px;
}
.image>a>img{
    border-radius: 150px;
}
.link > a{
    padding-right: 15px;
    color: #ffffff;
    text-decoration: none;

}

.link{
    margin-bottom: 30px;
}

.link > a:hover{
    border-right: 5px solid green;
}
.music_tags, .music{
    text-align: left;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 25px;
    border-bottom: 4px solid green;
}
.music_tags > span:not(:last-child), .music > span:not(:last-child){
    margin-right: 19%;
}

.authors_img{
    text-align: center;
}

.authors_img img{
    height: 100%;
    width: 100%;
}

.authors_name{
    color: black;
}
.songs>a{
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #39b54a;
    padding: 5px;
}
audio {
    margin-bottom: 10px;
}
.songs>a:hover{
    background-color: black;
    color: white;
}
.songList{
    overflow-y: scroll;
    width: 100%;
    height: 70%;
    padding-top: 10px;
}

