html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.range, .play-pause, .play-pause_song, .song, .sledbtn, .mute{
    cursor: pointer;
}
.wrp{
    width: 700px;
    margin: 0;
    margin-top: 20px;
    height: 70%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.player{
    position: relative;
    width: 680px;
    height: 50px;
    padding: 10px;
    margin: 0;
    background: #e74c3c;
    border-radius: 5px 5px 0 0;
}
.play-pause{
    background: #c0392b url(../assets/play.png) no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
}
.nameSong,.setting{
    position: absolute;
    color: #ecf0f1;
    padding: 5px;
    top: 0;
    left: 340px;
    font-size:18px;
}
.setting{
    left: 80px;
}
.setting div{
    float: left;
    margin-right: 5px;
}
.mute, .volume{
    font-size: 20px;
    margin: 0 10px;
}
.bar{
    position: relative;
    float: left;
    width: 540px;
    height: 40px;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}
.setTime{
    position: absolute;
    top: 0;
    background: #1abc9c;
    color: #ecf0f1;
    font-size: 12px;
    padding: 3px;
    display: none;
}
.range, .progress, .load{
    height: 10px;
    margin: 25px 0;
    padding: 0;
    width: 100%;
}
.range{
    background: rgba(192, 57, 43, 0.5);
}
.progress, .load{
    position: absolute;
    top: 0;
    left: -100%;

}
.progress{
    background: #1abc9c;
    z-index: 3;
}
.load{
    background: rgb(192, 57, 43);
}
.time{
    float: left;
    font-size: 20px;
    margin: 15px 0 0 15px;
}
.song:hover{
    background: rgba(26, 188, 156, 0.8);
}
.play-pause_song{
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 50px;
    float: left;
    background: #16a085 url(../assets/playmini.png) no-repeat;
    width: 25px;
    height: 25px;
}
.nameSong_song, .duration_song{
    font-size: 14px;
}
.nameSong_song{
    top: 10px;
    left: 80px;
}
